body{
    margin: 0;
    background-color: hsla(0, 0%, 29%, 0.89);    
}


*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
   list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 56px 1235px 56px; 
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}
header .logo{ 
    height: 70%;
    text-align: center;
    position: relative;
    top: 7px;
    left: 7px;
}

.foto-artista img{
    width: 100%;
}

.foto-artista{
    position: relative;
    padding-bottom: 80px;
}

.top5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 223, 208);
    font-size: 40px;
    position: absolute;
    top: 98%;
    left: 33%;

}
.top-canciones a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 29px;
    align-self: initial;
    margin: 2px;
    text-align: center;
    margin-top: 14px;
    
}

.info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 5px;
}

.info a{
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .nombreartista{
    font-family: Arial, Helvetica, serif;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0;
    padding: 0;
    left: 0.5%;
    top: 7%;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    
} */

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: grid;
    text-align: center;
    margin: 0em;
    padding: 0em;
    top: 92.8%;
    right: 2%;
    font-size: 28px;
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}
.nombre{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 1;
    text-align: right;
    margin: 0em;
    padding: 0em;
    top: 12.5%;
    left: 3%;
    font-size: 52px;
    color: transparent;
    background-image: linear-gradient(to left, black, white, black, white);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

.top-canciones img{
    margin-right: 0%;
    border-radius: 15px;
    border: solid 3px rgba(37, 223, 207, 0.726);
}

.track-id{
    color: red;
}


.descripcioncancion{
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;

}



.elfooter{
    bottom: 0%;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;

}

footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
    
    
}
footer ul{
    margin: auto;
}
.deezer{
    height: 100%;
    margin: auto;
}

@media (min-width: 425px){
        
    .top5{
        top: 110%;  
        }

    h3{
        top: 103.8%;
    }

    .grid-container{
        grid-template-rows: 56px 1270px 56px; 
    }
    .nombre{
        top: 13.5%;

    }
}

@media (min-width: 695px){

    body{
        height: 100%;
    }


    .nombreartista{
            left: 5.5%;
            top: 8%;
            font-size: 56px;
    }

    h2{
        top: 17%;
        right: 4%;
        font-size: 48px;

    }
    
    .grid-container{
        grid-template-rows: 1fr;

    }


}





@media (min-width: 768px){

    .nombre{
        font-size: 92px;
    }

    .seguidores{
        top: 180%;
        font-size: 45px;
    }

    .top5{
        top: 190%;
        left: 42%;

    }

    .grid-container{
        grid-template-rows: 56px 1850px 56px; 
    }

    .top-canciones a{
        font-size: 38px;
    }
    .top-canciones img{
        width: 170px;

    }
}

@media (min-width: 1024px){
        
    h1.nombre{
        font-size: 79px;
        right: 3%;
        top: 30%;
    }

    .foto-artista img{
        width: 60%;
        margin-left: 5%;
        margin-top: 5%;

    }

    h3.seguidores{
        font-size: 60px;
        top: 158%;
        width: 32%;
    }

    h4.top5{
        top: 194%;
        left: 41%;
        font-size: 64px;

    }

    .info{
        padding-top: 5%;

    }

    .top-canciones img{
        width: 52%;
        gap: 10px;

    }

    .top-canciones a{
        font-size: 51px;

    }

    .grid-container{
        grid-template-rows: 56px 2060px 56px; 
    }

    .footer{
        background-color: black;
        color: gray;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        text-align: center;
    }
}

@media (min-width: 1440px){

    h1.nombre{
        font-size: 115px;
        right: 6%;
        top: 16%;
    }

    .foto-artista img{
        width: 50%;

    }

    h3.seguidores{
        font-size: 81px;
        top: 70%;
        right: 6%;

        }

        h4.top5{
            top: 118%;
            left: 43%;
            font-size: 71px;
        }

        .top-canciones a{
            font-size: 55px;
    
        }

        .top-canciones img{
            width: 45%;
            gap: 1px;
        }

        .info{
            padding-top: 5%;
    
        }
         
        .grid-container{
            grid-template-rows: 56px 2650px 56px; 
        }

}