body{
    margin: 0;
    background-color: hsla(0, 0%, 29%, 0.89);
    
}


*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
   list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 54px 600px;
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}
header .logo{ 
    height: 70%;
    text-align: center;
    position: relative;
    top: 7px;
    left: 7px;
}



footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: auto;
    height: 100px;
}
footer ul{
    margin: auto;
    font-size: 16px;
}
.deezer{
    height: 100%;
    margin: auto;
}

@media(max-width: 768px){
    
    .grid-container{
        display: grid;   
    }
    .biografiabb{
        display: grid;
        grid-template-rows: 1fr;
        height: 50%;
    }
   
    .nombreflotante{
        font-size: 124px;
        bottom: -2%;
        margin-bottom: 10px;
        top: auto;
        margin: 0;
        right: 5%;
    }

    .seguidoresflotante{
        color: beige;
        bottom: -14%;
        left: 5%;
        font-size: 56px;
        margin: 0;
        padding: 0;
    }

    .badbunnyheader{display: none;}
    
    .iphonebadbunny{display: inherit;
                    width: 100%;
                    height: auto;}
    
    .biografiabb{
            height: auto;
            position: relative;
    }

    .divcancionespopulares{
        height: 98%;
        margin-top: -2%;

    }

    .CANCIONESMASPOPULARES{
        margin-top: 1.9%;


    }

    
    .cancionesylista{height: auto;
                    position: relative;
                    width: auto;
                    grid-template-rows: 11vh 181vh;
                    margin: 0em;
                    padding: 0%;
                    margin-bottom: 0em;       
    
    }
    
    .listasola{
            grid-template-columns: none;
            text-align: center;
            line-height: 10%;
            margin-right: 4%;
            margin-left: 4%;
            margin-bottom: 0%;
            height: 100%;
    }

    ol{line-height: 150%;
        margin-bottom: -32%;
    }

    .fotoyseguidores{grid-template-rows: 1fr;
        height: auto;
        position: relative;
    }
    .badbunnyheader{
    object-fit: contain;
    display: none;
    }
    .divdeiphone{
        height: auto;
        display: grid;
        position: relative;

    }

}

@media(max-width: 630px){
    .header{width: auto;
            height: auto;
    }

    .albumbadbunny{
            width: 100%;
            height: 60%;
    }
    
    .biografiabb{grid-template-rows: 1fr 44vh;
                grid-template-columns: none;
    }

    .PRFLAG{max-width: 90%;}

    .CANCIONESMASPOPULARES{margin-top: 1.9%}

    .listasola{margin-top: 4%;}

    .divcancionespopulares{
        height: 123%;

    }
}

