body{
    background-color: white;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 56px 94% 56px
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 6.5%;
    font-size: 14px;
}
header .logo{ 
    height: 60%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 15%;
}
section{
    text-align: center;
    background-color: rgba(73, 73, 73, 0.89);
    display: grid;
    grid-template-rows: 4% 96%;
}
.genere-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin: 5px;
}
a:hover{
    text-decoration: none;
    color: whitesmoke;
}
.portadas{
    width: 70%;
    margin: auto;
    border-radius: 15px;
    border: solid 3px rgba(37, 223, 207, 0.726);
    position: relative;
    bottom: 5px;

}
h1{
    padding-left: 5px;
    padding-top: 3.5%;
    font-family: 'Barlow Condensed', sans-serif;
    color: whitesmoke;
    position: relative;
    bottom: 17px;
    font-size: 40px;
    text-transform: capitalize;
}
.artistas{
    display: grid;
    grid-template-rows: 15% 85%;
    position: relative;
    top: 30px;
}
.mejores{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(108, 238, 227);
}
h3{
    position: relative;
    bottom: 5px;

}
.lista-gener{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    gap: 2px;
    position: relative;
    top: 10px;
}
footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
}
footer ul{
    margin: auto;
}
.iconos{
    height: 60%;
    position: relative;
    top: 15%;
    color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    text-align: left;
    padding-left: 20%;
}
.deezer{
    height: 100%;
    margin: auto;
}
@media(min-width: 768px){
    .grid-container{
        grid-template-rows: 80px 900px 90px
    }
    .barra ul{
        padding-top: 5%;
    }
    header .logo{ 
        height: 60%;
        left: 30%;
    }
    .portadas{
        position: relative;
        top: 10px;
        width: 50%;
        margin: auto;
    }
    
    footer{
        font-size: 15px;
    }
    h1{
        font-size: 48px;
    }
    h3{
        font-size: 26px;
        position: relative;
        bottom: 10px;
    }
    .decoracion-artista{
        font-size: 18px;
        position: relative;
        bottom: 25px;
    }
    .lista-gener{
        top: 25px;
    }
}
@media(min-width: 1024px){
    body{
        background-color: rgba(54, 54, 54, 0.911) ;
    }
    .grid-container{
        grid-template-rows: 100px 1400px 100px
    }
    .barra ul{
        padding-top: 40px;
    }
    .portadas{
        width: 50%;
        margin: auto;
        border-radius: 10px;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    .decoracion-artista{
        font-size: 22px;
        position: relative;
        top: 0px;
    }
    .lista-gener{
        gap:10px;
        top: 0px;
    }
}