body{
    margin: 0;
    background-color: hsla(0, 0%, 29%, 0.89);
    
}


*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
   list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 54px 600px;
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}
header .logo{ 
    height: 70%;
    text-align: center;
    position: relative;
    top: 7px;
    left: 7px;
}



footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: auto;
    height: 100px;
}
footer ul{
    margin: auto;
    font-size: 16px;
}
.deezer{
    height: 100%;
    margin: auto;
}

@media(max-width: 768px){
    
    .grid-container{
        display: grid;   
    }