body{
    background-color: white;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 56px 40px 1122px 56px
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 7%;
}
header .logo{ 
    height: 60%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 15%;
}
section{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}
#myCarousel{
    display: none;
}
.tracks{
    background-color: rgba(73, 73, 73, 0.89);
    display: grid;
    grid-template-rows: 10% 90%;
}
.artist{
    background-color: rgba(73, 73, 73, 0.89);
    display: grid;
    grid-template-rows: 10% 90%;
}
.albums{
    background-color: rgba(73, 73, 73, 0.89);
    display: grid;
    grid-template-rows: 10% 90%;
}
.content-tracks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 1fr);
    gap: 5px;
    padding: 7px;
}
.content-album{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 1fr);
    gap: 5px;
    padding: 7px;
}
.content-artist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 1fr);
    gap: 5px;
    padding: 7px;
}
.info{
    background-color: rgba(37, 223, 207, 0.726);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
}
.info a{
    font-size: 12px; 
    color: white;
    position: relative;
    top: 12%;
}
.info a:hover{
    text-decoration: none;
}
.portadas{
    width: 90%;
    border-radius: 5px;
    margin: auto;
}
h2{
    padding-left: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    color: whitesmoke;
    position: relative;
    bottom: 17px;
    font-size: 27px;
}
footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
}
footer ul{
    margin: auto;
}
.deezer{
    height: 100%;
    margin: auto;
}
.buscador{
    background-color: rgba(73, 73, 73, 0.89);
    text-align: center;
}
.botones{
    position: relative;
    top: 7px;
}
.botones button{
    border-radius: 5px;
}
@media(min-width: 768px){
    .grid-container{
        grid-template-rows: 80px 40px 1284px 90px
    }
    .barra ul{
        padding-top: 5%;
    }
    header .logo{ 
        height: 60%;
        left: 30%;
    }
    .content-tracks{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px;
        gap: 7px;
    }
    .content-album{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px;
        gap: 7px;
    }
    .content-artist{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 10px;
        gap: 7px;
    }
    .info{
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
    }
    .info a{
        font-size: 12px;
        top: 0px;
    }
    h2{
        bottom: 10px;
    }
    footer{
        font-size: 15px;
    }
    .botones{
        top: 12px;
    }
}
@media(min-width: 1024px){
    body{
        background-color: rgba(54, 54, 54, 0.911) ;
    }
    .grid-container{
        grid-template-rows: 100px 500px 40px 1200px 100px
    }
    .barra ul{
        padding-top: 40px;
    }
    section{
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin: 0px 40px;
    }
    .tracks{
        grid-template-rows: 6% 94%;
    }
    .artist{
        grid-template-rows: 6% 94%;
    }
    .albums{
        grid-template-rows: 6% 94%;
    }
    .content-tracks{
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 1fr);
        padding: 10px;
        gap: 5px;
    }
    .content-artist{
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 1fr);
        padding: 10px;
        gap: 5px;
    }
    .content-album{
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 1fr);
        padding: 10px;
        gap: 5px;
    }
    .info{
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        height: 90%;
    }
    .info a{
        font-size: 18px;
        margin-top: 25px;
    }
    h2{
        position: relative;
        top: 3px;
        font-size: 30px;
    }
    .portadas{
        height: 95%;
        border-radius: 5px;
    }
    #myCarousel{
        display: block;
        width: 100%;
    }
    #myCarousel img{
        width: 100%;
        height: 500px;
    }
    
}