body{
    background-color: white;
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul,ol{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-rows: 56px 40px 50px 2500px 56px;
    background-color: rgba(73, 73, 73, 1);
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 20% 80%;
}
.barra ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 7%;
}
header .logo{ 
    height: 60%;
    text-align: center;
    position: relative;
    top: 15%;
    left: 15%;
}
#myCarousel{
    display: none;
}
.search{
    background-color: rgba(73, 73, 73, 0.89);
    text-align: center;
    display: none;
    grid-template-rows: repeat(3, 1fr);
}
.tracks{
    display: grid;
    grid-template-rows: 7% 93%;
}
.artist{
    display: grid;
    grid-template-rows: 7% 93%;
}
.album{
    display: grid;
    grid-template-rows: 7% 93%;
}
.tracks-search-results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 7px;
}
.artist-search-results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 7px;
}
.album-search-results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 7px;
}
.spinner{
    height: 100px;
    position: relative;
    left: 45%;
}
.info{
    background-color: rgba(37, 223, 207, 0.726);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: center;
    height: auto;
}
.info a{
    font-size: 12px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 2px;
}
a:hover{
    text-decoration: none;
}
.portadas{
    width: 90%;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}
h2{
    background-color: rgba(73, 73, 73, 0.89);
    font-family: 'Barlow Condensed', sans-serif;
    color: whitesmoke;
    font-size: 27px;
    text-align: center;
    position: relative;
}
footer{
    background-color: black;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
}
footer ul{
    margin: auto;
}
.deezer{
    height: 100%;
    margin: auto;
}
.buscador{
    background-color: rgba(73, 73, 73, 0.89);
    text-align: center;
}
.botones{
    position: relative;
    top: 7px;
}
.botones button{
    border-radius: 5px;
}
@media(min-width: 768px){
    .grid-container{
        grid-template-rows: 80px 40px 70px 3000px 90px
    }
    .barra ul{
        padding-top: 5%;
    }
    header .logo{ 
        height: 60%;
        left: 30%;
    }
    .search{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
        gap: 5px;
        padding: 7px;
    }
    .tracks{
        grid-template-rows: 7% 93%;
    }
    .artist{
        grid-template-rows: 7% 93%;
    }
    .album{
        grid-template-rows: 7% 93%;
    }
    .tracks-search-results{
        grid-template-columns: repeat(5, 1fr);
    }
    .artist-search-results{
        grid-template-columns: repeat(5, 1fr);
    }
    .album-search-results{
        grid-template-columns: repeat(5, 1fr);
    }
    .info{
        grid-template-columns: 100%;
        grid-template-rows: 75% 25%;
    }
    .info a{
        align-items:  center;
        padding: 0 2px;
    }
    h2{
        bottom: 10px;
    }
    footer{
        font-size: 15px;
    }
    .botones{
        top: 12px;
    }
}
@media(min-width: 1024px){
    body{
        background-color: rgba(54, 54, 54, 0.911) ;
    }
    .grid-container{
        grid-template-rows: 100px 500px 40px 70px 1250px 100px
    }
    .barra ul{
        padding-top: 40px;
    }
    .search{
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .tracks{
        grid-template-rows: 7% 93%;
    }
    .artist{
        grid-template-rows: 7% 93%;
    }
    .album{
        grid-template-rows: 7% 93%;
    }
    .tracks-search-results{
        grid-template-columns: repeat(2, 1fr);
    }
    .artist-search-results{
        grid-template-columns: repeat(2, 1fr);
    }
    .album-search-results{
        grid-template-columns: repeat(2, 1fr);
    }
    .info{
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        height: 80px;
    }
    .info a{
        font-size: 18px;
    }
    h2{
        position: relative;
        top: 3px;
        font-size: 30px;
    }
    .portadas{
        height: 95%;
        border-radius: 5px;
    }
    #myCarousel{
        display: block;
        width: 100%;
    }
    #myCarousel img{
        width: 100%;
        height: 500px;
    }
    
}